.divider{
    width: 170px;
    height: 12px;
    background-image: url("../../../../public/divider/separatorBlack\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.wrapper{
    width: 100%;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}