.wrapper {
    width: 100%;
    height: 100vh;
    background:
        radial-gradient(circle, rgba(0, 0, 0, 0.069) 0%, rgba(0, 0, 0, 0.187) 100%),
        linear-gradient(100deg, #ffffff calc(50% - 200px), rgb(0, 0, 0) calc(50% - 200px));
}

.insideWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.welcomeBlock {
    width: 547px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .HiBlockP {
        font-size: 40px;
        font-weight: bold;
        color: black;
    }

    .Name {
        font-size: 80px;
        font-weight: bold;
        color: black;
        margin: 0;
    }

    .NameSubtitle {
        font-size: 25px;
        font-weight: bolder;
        color: #909090;
    }

    .LinksBlocks {
        width: 213px;
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* ===== Иконки ===== */
.gmailIco,
.githubIco,
.linkedInIco {
    width: 61px;
    height: 56px;
    background: #c4c4c4;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 5px -1px gray;
}

.gmail {
    width: 37px;
    height: 36px;
    background: url("../../../../public/hero/gmail.svg") center/cover no-repeat;
    margin: auto;
}

.github {
    width: 35px;
    height: 35px;
    background: url("../../../../public/hero/gitHub.svg") center/cover no-repeat;
    margin: auto;
}

.linkedIn {
    width: 39px;
    height: 39px;
    background: url("../../../../public/hero/linkedIn.svg") center/cover no-repeat;
    margin: auto;
}

/* ===== Мобильная версия ===== */
.mobileBlock {
    display: none;
}

@media (max-width: 900px) {
    .wrapper {
        background: url("https://images.unsplash.com/photo-1514920735211-8c697444a248?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2hpbmElMjBtb3VudGFpbnxlbnwwfHwwfHx8MA%3D%3D") center/cover no-repeat; // 👉 сюда вставишь фон природы
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120vh;
    }

    .insideWrapper {
        justify-content: center;
        align-items: center;
    }

    .welcomeBlock {
        display: none; // скрываем старую структуру
    }

    .mobileBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .mobileText {
        .mobileName {
            font-size: 25px;
            color: white;
            margin: 0;
            font-weight: 500;
        }

        .mobileSubtitle {
            font-size: 32px;
            color: white;
            font-weight: bold;
            opacity: 0.9;
            text-transform: uppercase;
        }
    }

    .mobileLinks {
        width: 213px;
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent; // прозрачный фон
    }

    .gmailIco,
    .githubIco,
    .linkedInIco {
        background: transparent;
        box-shadow: none;
    }

    .gmail{
        background: url("../../../../public/hero/gmailW.svg") center/cover no-repeat;
    } 
    .github{
        background: url("../../../../public/hero/gitHubW.svg") center/cover no-repeat;
    }
    .linkedIn{
        background: url("../../../../public/hero/linkedInW.svg") center/cover no-repeat;
    }
}
