.divider{
    width: 170px;
    height: 12px;
    background-image: url("../../../../public/divider/separatorWhite\ 2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.wrapper{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}